#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knob {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh;
}

button {
    height: 2rem;
    width: 2rem;
    /* padding-top: 100%; */
}

#knobVal {
    margin: 0 1vw 0 1vw;
    font-size: 1.5rem;
}

#sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sliderUnit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
}

/* rotate slider
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range
firefox: html tag (orient='vertical')
chrome and safari: css (below) */

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
}
