#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knob {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh;
}

button {
    height: 2rem;
    width: 2rem;
    /* padding-top: 100%; */
}

#knobVal {
    margin: 0 1vw 0 1vw;
    font-size: 1.5rem;
}

#sliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sliderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* -webkit-appearance: slider-vertical; */
    /* width: 5vw; */
    width: 5rem;
}

/* .slider { */
/* position: absolute; */
/* transform: rotate(270deg); */
/* margin-top: 125%; */
/* margin-bottom: 125%; */
/* height: 25vh; */
/* } */

/* .slider {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.slider input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
} */

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
}
